.forem{
  background-image: url(form_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
 body{
margin-right: 24px;

}
button{
  border: none;
}
.nice{
   transform: rotate(16deg);
}
text-input{
  border: none;
}
@media (max-width: 1200px) and (min-width: 996px) {
  .first{
    font-size: 1.2rem !important;
  }
  .second{
    font-size: 3.2rem !important;
  }
  .third{
    font-size: 1rem !important;
  }
}