.forem{
  background-image: url(form_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
 body{
  

}
button{
  border: none;
}
.nice{
   transform: rotate(16deg);
}
text-input{
  border: none;
}