
 @font-face {
    font-family: "OpenSans";
    src: url("openSans.ttf");
        
    font-weight: 700;
    font-style: normal;
}

  @font-face {
    font-family: "skratch";
    src: url("skratch.ttf");
        
    
    font-style: normal;
}

  @font-face {
    font-family: "trajan";
    src: url("TrajanPro-Bold.otf");
        
    
    font-style: normal;
}
*{
  margin:0;padding:0;
}
 #numb {
    font-family: helvetica, sans-serif;
    font-weight: 900;
    font-size:4rem;
    width: auto;
  }
  #ourofic{
    font-size:2rem;
      font-family: "OpenSans", sans-serif;
      letter-spacing: 0.2vw;
      color: darkred;
      text-decoration:underline;
      text-underline-offset: 0.6vw;
      text-decoration-thickness: 0.2rem;
      text-decoration-color:gray;
  }
  .parag{
        font-size: 1.7rem;
    letter-spacing: 0.1vw;
    font-weight: 400;
    -webkit-text-stroke: 0.1vw;
  }

  #img img{
    width: 100%;
    
  }
html{
font-size:  1vw;
}